.footer{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 15%, rgba(73,9,68,1) 100%);
    h5{
        color: white;
    }
    nav ul li{
        display: inline-block;
    }
    
    
}