
.gridMain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:"opciones productos productos productos"
                        "opciones productos productos productos"
                        "opciones productos productos productos"
                        "promo    promo     promo     promo";
                                             
    height: 100vh;
    
    
    


    .opcionesMenu{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        grid-area:opciones;
        color:#000000;
        margin: 0.625rem;
        
        form{
            label{
                font-weight: bold;
            }
            .subMenu{
                margin: 0.625rem;

            }
            
        }      
        
    }
   
        
    .catalogo{


        color: #000000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
        grid-area:productos ; 
        margin: 0.625rem;
        .producto{
            width:20% ;
            img{
                margin:0.625rem;
                height: 11.25rem;
            }
            
       }

    }
    .promocion{
        height: 12.5rem ;
        margin-top: 6.25rem;
        background-color: #76bad5;
        grid-area:promo;
        padding: 0.625rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        
        h1{
            color: white;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 5px;
            padding:1.25rem ;
            width: 40%;
        }
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 10%;
            color:white;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            margin: 0.625rem;
        }
        button{
            font-family: 'Roboto', sans-serif;
            width: 10%;
            padding: 0.625rem;
        }
    }
}
.afa{
    width: 9.375rem;
}
.camiseta{
    width: 11.25rem;
    border-radius: 50%;
    
}
.adidas{
    width: 9.375rem;
    
}
.logo{
    width: 3.125rem;
}