@import "header";
@import "main";
@import "footer";
@import "contacto";

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    
}



                       





